blinker==1.8.2
certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
Flask==3.0.3
idna==3.10
itsdangerous==2.2.0
Jinja2==3.1.4
language_tool_python==2.8.1
MarkupSafe==2.1.5
numpy==2.1.2
pandas==2.2.3
pdfkit==1.0.0
PyPDF2==3.0.1
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
setuptools==75.2.0
six==1.16.0
tqdm==4.66.5
tzdata==2024.2
urllib3==2.2.3
Werkzeug==3.0.3
wheel==0.44.0
